:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ff7272;
  --fonts: "Roboto Mono", monospace;
}

body {
  font-family: var(--fonts);
  max-width: 85%;
  background: rgba(0, 0, 0, 0.01);
  margin: 0 auto;
  margin-bottom: 40px;
}

header {
  display: flex;
  align-items: center;
  padding: 40px 0;
  padding-bottom: 0;
  justify-content: space-between;
}

.header .header--social {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header--social img {
  width: 32px;
  margin: 0 16px;
  transition: all 0.2s ease-in-out;
}

header .header--social img:hover {
  border-bottom: 2px solid black;
  transform: scale(1.1);
}

header h3,
h4 {
  margin: 0;
}

header h4 {
  font-weight: 400;
}

main h1 {
  font-size: 4em;
  text-align: center;
  margin: 32px 0;
}

#works {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.works--card h3 {
  font-weight: 300;
  font-size: 1.1em;
}

.works--card p {
  font-weight: 300;
  font-size: 0.75em;
}

.works--card .works--card--screenshot {
  position: relative;
  margin-top: 24px;
}

.works--card--screenshot .works--card--screenshot--overlay {
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
}

.works--card--screenshot:hover .works--card--screenshot--overlay {
  opacity: 1;
}

.works--card .works--card--screenshot span {
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: 0;
  background: var(--black);
  line-height: 4em;
  color: var(--white);
  z-index: 30;
}

.works--card .works--card--screenshot img {
  max-width: 100%;
  object-fit: cover;
}

.works--card--screenshot--overlay a {
  padding: 16px 24px;
  text-decoration: none;
  font-weight: 700;
  margin: 16px 0;
}

.works--card--screenshot--overlay--code--link {
  background: var(--red);
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.works--card--screenshot--overloy-live-link {
  background: var(--white);
  color: var(--red);
}

@media (max-width: 600px) {
  header .header--social img {
    width: 24px;
    margin: 0 8px;
  }
}
